@import url(style.noticias.css);
@import url(style.login.css);
@import url(style.noticia.css);
@import url(style.header.css);

*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Main body*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(/tpe/Sources/background.png);
    color: white;

}